@import "tailwindcss";

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme('colors.blue.900'); /* borda escura */
    border-right-color: theme('colors.blue.300'); /* borda clara */
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme('colors.blue.300'); /* borda clara */
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* For date picker */
.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme('colors.blue.500') !important;
  --rdp-background-color: theme('colors.blue.600') !important;
  margin: 0 !important;
}

